
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/Content/imageStyle.css" rel="stylesheet" />
}

<div class="banner">
    <img src="~/Content/img/banner.jpg" alt="Image 1" class="banner-image active" />
    <img src="~/Content/img/banner3.jpg" alt="Image 3" class="banner-image" />
</div>



<div>
    <div class="des-fm1">
        <div class="row-jvh">
            <div class="col-tfm col-j6j title-cks" style="padding-top: 20px;">
                <h2>
                    KHÁM PHÁ ĐIỂM ĐẾN
                </h2>
            </div>
            <div class="col-c7o col-j6j col-s39">
                <div class="box-d69 overlay-vaa style-rzSHY" id="style-rzSHY">
                    <img src="~/Content/img/tokyo.jpg" />
                    <span class="line-o5i">
                    </span>
                    <div class="des-t1o">
                        <p class="cit-57r">
                            Tokyo – Thủ đô của hiện đại và truyền thống
                        </p>
                        <p>
                            <a href="#" class="btn-ceh">
                                KHÁM PHÁ
                            </a>
                        </p>
                        <p>
                            &nbsp;
                        </p>
                        <p class="title-yav">
                            &nbsp;
                        </p>
                    </div>
                    <a href="#" class="link-hiy">
                    </a>
                </div>
            </div>
            <div class="col-c7o col-j6j col-s39">
                <div class="box-d69 overlay-vaa style-3mhLI" id="style-3mhLI">
                    <span class="line-o5i">
                    </span>
                    <div class="des-t1o">
                        <p class="cit-57r">
                            Phú Quốc – Hòn ngọc quý
                        </p>
                        <p>
                            <a href="#" class="btn-ceh">
                                KHÁM PHÁ
                            </a>
                        </p>
                        <p>
                            &nbsp;
                        </p>
                        <p class="title-yav">
                            &nbsp;
                        </p>
                    </div>
                    <a href="#" class="link-hiy">
                    </a>
                </div>
            </div>
            <div class="col-c7o col-j6j med-zgd col-s39">
                <div class="box-d69 overlay-vaa style-K2dt3" id="style-K2dt3">
                    <span class="line-o5i">
                    </span>
                    <div class="des-t1o">
                        <p class="cit-57r">
                            Bangkok – Thiên đường ăn chơi và mua sắm Đông Nam Á
                        </p>
                        <p>
                            <a href="#" class="btn-ceh">
                                KHÁM PHÁ
                            </a>
                        </p>
                        <p>
                            &nbsp;
                        </p>
                        <p class="title-yav">
                            &nbsp;
                        </p>
                    </div>
                    <a href="#" class="link-hiy">
                    </a>
                </div>
                <div class="box-d69 overlay-vaa style-wjQ7F" id="style-wjQ7F">
                    <span class="line-o5i">
                    </span>
                    <div class="des-t1o">
                        <p class="cit-57r">
                            Đà Lạt – Một Paris thu nhỏ
                        </p>
                        <p>
                            <a href="#" class="btn-ceh">
                                KHÁM PHÁ
                            </a>
                        </p>
                        <p>
                            &nbsp;
                        </p>
                        <p class="title-yav">
                            &nbsp;
                        </p>
                    </div>
                    <a href="#" class="link-hiy">
                    </a>
                </div>
            </div>
            <p>
                &nbsp;
            </p>
            <a href="#" class="view-otz">
                tất cả điểm đến
            </a>
            <div id="gtx-tdd" class="style-1oXmo">
                <div>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/Scripts/imageFunc.js")